USE [FamilyFeud]
GO
/****** Object:  Table [dbo].[Main]    Script Date: 12/15/2008 09:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Main](
	[question] [nvarchar](100) NOT NULL,
	[answer] [nvarchar](255) NULL,
	[count] [int] NOT NULL,
	[questionId] [int] NOT NULL
) ON [PRIMARY]
