USE [FamilyFeud]
GO
/****** Object:  Table [dbo].[Questions] */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[id] [nvarchar](100) NOT NULL,
	[question] [nvarchar](255) NULL,
) ON [PRIMARY]
