USE [FamilyFeud]
GO
/****** Object:  Table [dbo].[Answer] */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[answer] [nvarchar](255) NULL,
	[count] [int] NOT NULL,
) ON [PRIMARY]
